<!DOCTYPE html>
<html>
<head>

<link rel="icon" type="image/x-icon"
	href="https://www.w3schools.com/images/w3schools_logo_436_2.png">

<title>My first html content</title>

</head>
<body>


	<ul>
		<li>Coffee</li>
		<li>Tea</li>
		<li>Milk</li>
	</ul>


	<ol>
		<li>Coffee</li>
		<li>Tea</li>
		<li>Milk</li>
	</ol>


	<dl>
		<dt>Coffee</dt>
		<dd>- black hot drink</dd>
		<dt>Milk</dt>
		<dd>- white cold drink</dd>
	</dl>

	<table border="3">
		<tr
			style="text-align: left; background-color: lightgray; padding: 10px;">
			<th colspan="2" width="30%">Name</th>
			<th width="50%">Age</th>
			<th>City</th>
		</tr>

		<tr>
			<td>Alice</td>
			<td>30</td>
			<td>New York</td>
		</tr>

		<tr>
			<td>jatin</td>
			<td>30</td>
			<td>New York</td>
		</tr>

	</table>
	<br>
	<b>This is bold tag</b>
	<br>

	<strong>This is strong tag</strong>
	<br>

	<i>This is italic tag</i>
	<br>

	<em>This is emphasis tag</em>
	<br>

	<mark>This is mark tag</mark>
	<br>

	<small>This is small tag</small>
	<br>

	<del>This is deleted tag</del>
	<br>

	<ins>This is inserted tag</ins>
	<br>

	<sub>This is subscript tag</sub>
	<br>

	<sup>This is superscript tag</sup>
	<br>

	<!-- this is you comment  -->

	<h1 style="background-color: red; text-align: center;">Welcome to
		Tech Tamasha</h1>
	<h2 style="color: blue;">Learn, Share, and Grow with Us</h2>
	<h3 style="font-family: cursive;">Discover the Latest in
		Technology</h3>
	<p style="font-size: 300%">Tech Tamasha is a platform for learning
		and sharing knowledge about technology.</p>
	<br>
	<p>We offer a wide range of courses, tutorials, and resources to
		help you stay updated with the latest trends in technology.</p>

	<a href="https://www.w3schools.com" target="_blank">Visit W3
		School</a>
	<br>

	<img src="https://www.w3schools.com/images/w3schools_logo_436_2.png"
		alt="W3 Schools Logo" width="500" height="500">


	<br>

	<h1>Travel Guide</h1>

	<h2>Europe</h2>
	<h3>France</h3>
	<h3>Italy</h3>

	<h2>Asia</h2>
	<h3>India</h3>
	<h3>Thailand</h3>


	<br>

	<h1>This is heading 1</h1>
	<p>This is some text.</p>
	<hr>
	<h2>This is heading 2</h2>
	<p>This is some other text.</p>
	<hr>

	<br>


	<pre>
  My Bonnie lies over the ocean.

  My Bonnie lies over the sea.

  My Bonnie lies over the ocean.

  Oh, bring back my Bonnie to me.
</pre>


	<p style="background-image: url('https://picsum.photos/600/400')">
		You can specify background images<br> for any visible HTML
		element.<br> In this example, the background image<br> is
		specified for a div element.<br> By default, the background-image<br>
		will repeat itself in the direction(s)<br> where it is smaller
		than the element<br> where it is specified. (Try resizing the<br>
		browser window to see how the<br> background image behaves.
	</p>
</body>
</html>